<div class="row">

    <div class="col-md-6">
        <div class="left-panel">

            <div class="row search-panel">
                <div class="col-md-10 zero-padding">
                    <input type="email"
                           class="form-control field-search"
                           ng-model="transaction.selectedItem"
                           typeahead="item as item.name for item in sellController.getItems($viewValue) | limitTo:10"
                           typeahead-template-url="templates/product-item-template.html"
                           typeahead-wait-ms="500"
                           typeahead-min-length="3"
                           typeahead-on-select="sellController.onSelect()"/>
                </div>
                <div class="col-md-2 zero-padding">
                    <button type="button" class="btn btn-add">Add</button>
                </div>
            </div>

            <div class="all-products" items-list items-list-data="order.items"></div>

            <div class="row result-box">
                <div class="col-md-7 pull-left">
                    <div class="row">
                        <input type="email" class="form-control customer pull-left" id="exampleInputEmail1" placeholder="Search Customer"><img vspace="15" src="../../images/btn-plus.png" />
                    </div>
                    <div class="row text-below pull-left">No customer selected</div>

                </div>

                <div class="col-md-5">
                    <div class="table-responsive pull-right">
                        <table class="table-result">
                            <tbody>
                            <tr>
                                <td class="width-col">Subtotal</td>
                                <td>{{order.subTotal | currency}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>$0.00</td>
                                <td class="btn-col"><a href="#" class="btn-close"></a></td>
                            </tr>
                            </tbody>
                            <tr >
                                <td><strong>TOTAL</strong></td>
                                <td><strong>{{order.total | currency}}</strong></td>
                                <td></td>
                            </tr>
                            <tr >
                                <td class="brdr-top"><strong>TO PAY</strong></td>
                                <td class="brdr-top"><strong>{{order.balanceToPay | currency}}</strong></td>
                                <td class="brdr-top"></td>
                            </tr>


                        </table>
                    </div>

                </div>

            </div>
            <div class="row buttons-panel">
                <button type="button" data-toggle="modal" href="#myModal3" class="btn btn-success btn-width">Void</button>
                <button type="button" class="btn btn-success btn-width">Park(F5)</button>
                <button type="button" class="btn btn-success btn-width">Notes</button>
                <button type="button" class="btn btn-success btn-width">Discount</button>
                <button type="button" class="btn btn-warning btn-width" data-ng-click="sellController.openPaymentDialog()">Pay(f5)</button>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div quick-keys-panel></div>
    </div>

</div>


