@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="panel panel-default">
    <div id="hotKeysNav" class="panel-heading">
        <div class="nav navbar-nav">
            <ul class="nav nav-tabs">
                <li><a href="#hkUserSpecific" data-toggle="tab">User Specific</a></li>
                <li><a href="#hkMusic" class="active">Music</a></li>
                <li><a href="#">Category #3</a></li>
            </ul>
        </div>
    </div>
    <div id="hotKeys" class="panel-body">

    </div>
    <div class="panel-footer">
    </div>

</div>
