@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="tab-content">
        <div id="dashboardPanel" class="tab-pane">

            <div id="dashboardPanelContent">
                <div class="navbar-inner">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Dashboard #1</a></li>
                        <li><a href="#">Dashboard #2</a></li>
                    </ul>

                </div>
                <div class="container">
                    Dashboard Content 1
                </div>
            </div>
        </div>
        <div id="sellPanel" >
            <div id="sellPanelContent">
                <div class="container">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Current Sale</a></li>
                            <li><a href="#" onclick="LoadOrder()">Retrieve Sale</a></li>
                            <li><a href="#">Close Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="height:400px;">
                    <!--Shopping Cart-->
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input type="hidden" name="product_search[product_id]" id="product_search_product_id" />                <input type="search" name="product_search[product_sku]" autocomplete="off" autocorrect="off" autocapitalize="off" x-webkit-speech="true" placeholder="Search products" class="use-keypad click-to-select" autofocus="on" id="product_search_product_sku" />                <button id="btn-add-product" class="btn btn-info" onclick="addItem()">Add</button>

                                @*<input type="text" id="txtMainItem" />                <button type="button" class="btn btn-info" onclick="addItem()">Add</button>*@
                            </div>
                            <div class="panel-body">
                                <!--jQuery will be used to add items to this table one row represents a line item in the cart -->
                                <table id="shoppingCart" style="width:100%"></table>
                                <table id="shoppingCartFooter" style="width:100%">
                                    <tr>
                                        <td rowspan="4">
                                            &nbsp;
                                        </td>
                                        <td>Subtotal:</td>
                                        <td id="subTotal"></td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        <td id="discount"></td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td id="total"></td>
                                    </tr>
                                    <tr>
                                        <td>To Pay:</td>
                                        <td id="toPay"></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary" onclick="voidItem()">Void</button>
                                <button type="button" class="btn btn-primary" onclick="parkOrder()">Park</button>
                                <button type="button" class="btn btn-primary">Donation</button>
                                <button type="button" class="btn btn-primary">Gift Card</button>
                                <button type="button" class="btn btn-primary discountBtn">Discount</button>
                                <button type="button" class="btn btn-primary">Notes</button>
                                <button type="button" class="btn btn-success" onclick="payOrder()">Pay</button>
                            </div>
                        </div>
                    </div>

                    <!--Product Hot Keys Panel-->
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="nav">
                                    <ul id="hotKeysNav" class="nav nav-tabs">
                                    </ul>
                                </div>
                            </div>
                            <div id="hotKeys" class="panel-body tab-content">
                                <div id="hkUserSpecific" class="tab-pane">

                                </div>
                                <div id="hkMusic" class="tab-pane">
                                    Music Keys
                                </div>
                            </div>
                            <div class="panel-footer">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="productPanel" class="tab-pane">
            <div id="productPanelContent">
                Products
            </div>
        </div>
        <div id="customerPanel" class="tab-pane">
            <div id="customerPanelContent">
                Customers
            </div>
        </div>
    </div>
    <div id="payModal" class="modal fade modal-dialog modal-content" style="width: 400px;">
        <div class="modal-body" style="margin: 0 auto; vertical-align:top;">
            <input type="text" id="txtPaymentAmount" /><button type="button" class="btn btn-primary" onclick="voidItem()">Cash</button>
        </div>
    </div>
    <div id="QtyModal" class="modal fade modal-dialog modal-content" style="width: 400px;">
        <div class="modal-body" style="margin: 0 auto; vertical-align:top;">
            <table>
                <tr>
                    <td colspan="4">
                        <div class="input-group" style="width: 330px;">
                            <span class="input-group-addon">
                                <button class="fa fa-th showQtyNumPad" type="button"></button>
                            </span>
                            <input id="adjustQty" type="text" class="form-control">
                            <span class="input-group-addon">
                                <button type="button">-</button>
                            </span>
                            <span class="input-group-addon">
                                <button type="button">+</button>
                            </span>
                        </div><!-- /input-group -->
                    </td>
                </tr>
                <tr id="qtyFooter">
                    <td colspan="4">
                        <table id="qtyKeyPad">
                            <tr>
                                <td><button value="1" type="button" class="btn btn-primary qtyKeys">1</button></td>
                                <td><button value="2" type="button" class="btn btn-primary qtyKeys">2</button></td>
                                <td><button value="3" type="button" class="btn btn-primary qtyKeys">3</button></td>
                                <td><button value="bksp" type="button" class="btn btn-primary qtyKeys fa fa-arrow-circle-left"></button></td>
                            </tr>
                            <tr>
                                <td><button value="4" type="button" class="btn btn-primary qtyKeys">4</button></td>
                                <td><button value="5" type="button" class="btn btn-primary qtyKeys">5</button></td>
                                <td><button value="6" type="button" class="btn btn-primary qtyKeys">6</button></td>
                                <td rowspan="3"><button type="button" class="btn btn-primary qtyRtnKey" data-dismiss="modal">Return</button></td>
                            </tr>
                            <tr>
                                <td><button value="7" type="button" class="btn btn-primary qtyKeys">7</button></td>
                                <td><button value="8" type="button" class="btn btn-primary qtyKeys">8</button></td>
                                <td><button value="9" type="button" class="btn btn-primary qtyKeys">9</button></td>

                            </tr>
                            <tr>
                                <td><button value="0" type="button" class="btn btn-primary qtyKeys">0</button></td>
                                <td><button value="00" type="button" class="btn btn-primary qtyKeys">00</button></td>
                                <td><button value="." type="button" class="btn btn-primary qtyKeys">.</button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="UnitPriceModal" class="modal fade modal-dialog modal-content" style="width: 400px;">
        <div class="modal-body" style="margin: 0 auto; vertical-align:top;">
            <table>
                <tr>
                    <td colspan="4">
                        <div class="input-group" style="width: 330px;">
                            <span class="input-group-addon">
                                <button class="fa fa-th showUnitPriceNumPad" type="button"></button>
                            </span>
                            <input id="adjustUnitPrice" type="text" class="form-control">
                            <span class="input-group-addon">
                                <button type="button">-</button>
                            </span>
                            <span class="input-group-addon">
                                <button type="button">+</button>
                            </span>
                        </div><!-- /input-group -->
                    </td>
                </tr>
                <tr id="unitPriceFooter">
                    <td colspan="4">
                        <table id="unitPriceKeyPad">
                            <tr>
                                <td><button value="1" type="button" class="btn btn-primary unitPriceKeys">1</button></td>
                                <td><button value="2" type="button" class="btn btn-primary unitPriceKeys">2</button></td>
                                <td><button value="3" type="button" class="btn btn-primary unitPriceKeys">3</button></td>
                                <td><button value="bksp" type="button" class="btn btn-primary unitPriceKeys fa fa-arrow-circle-left"></button></td>
                            </tr>
                            <tr>
                                <td><button value="4" type="button" class="btn btn-primary unitPriceKeys">4</button></td>
                                <td><button value="5" type="button" class="btn btn-primary unitPriceKeys">5</button></td>
                                <td><button value="6" type="button" class="btn btn-primary unitPriceKeys">6</button></td>
                                <td rowspan="3"><button type="button" class="btn btn-primary unitPriceRtnKey" data-dismiss="modal">Return</button></td>
                            </tr>
                            <tr>
                                <td><button value="7" type="button" class="btn btn-primary unitPriceKeys">7</button></td>
                                <td><button value="8" type="button" class="btn btn-primary unitPriceKeys">8</button></td>
                                <td><button value="9" type="button" class="btn btn-primary unitPriceKeys">9</button></td>

                            </tr>
                            <tr>
                                <td><button value="0" type="button" class="btn btn-primary unitPriceKeys">0</button></td>
                                <td><button value="00" type="button" class="btn btn-primary unitPriceKeys">00</button></td>
                                <td><button value="." type="button" class="btn btn-primary unitPriceKeys">.</button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="template" style="display:none">
        <table>
            <tr id="rowid" class="row">
                <td class="span2"><a id="updateQty" class="updateQty" data-toggle="modal" href="#QtyModal"></a></td>
            <td class="itemName"></td>
            <td><a id="updateUnitPrice" href="#UnitPriceModal" class="btn btn-info" data-toggle="modal"></a></td>
            <td id="lineItemTotal"></td>
            <td><a id="itemid" href="#" class="removeLineItem">X</a></td>
            </tr>
            
        </table>


</div>
</div>
