@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="tab-content">
         @*<div id="sellPanel">
            <div id="sellPanelContent">
                <div class="container">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Current Sale</a></li>
                            <li><a href="#" onclick="LoadOrder()">Retrieve Sale</a></li>
                            <li><a href="#">Close Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="height:400px;">
                    <!--Shopping Cart-->
                    <div class="col-sm-6">

                        <div class="panel panel-default" id="register-display">
                            <div class="panel-heading">
                                <input type="hidden" name="product_search[product_id]" id="product_search_product_id" />                <input type="search" name="product_search[product_sku]" autocomplete="off" autocorrect="off" autocapitalize="off" x-webkit-speech="true" placeholder="Search products" class="use-keypad click-to-select" autofocus="on" id="product_search_product_sku" />
                                <button id="btn-add-product" class="btn btn--small btn--no-min-width right" onclick="addItem()">Add</button>

                                <input type="text" id="txtMainItem" />                <button type="button" class="btn btn-info" onclick="addItem()">Add</button>
                            </div>
                            <div class="panel-body">
                                <!--jQuery will be used to add items to this table one row represents a line item in the cart -->
                                <table id="shoppingCart" style="width:100%"></table>
                                <table id="shoppingCartFooter" style="width:100%">
                                    <tr>
                                        <td rowspan="4">
                                            &nbsp;
                                        </td>
                                        <td>Subtotal:</td>
                                        <td id="subTotal"></td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        <td id="discount"></td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td id="total"></td>
                                    </tr>
                                    <tr>
                                        <td>To Pay:</td>
                                        <td id="toPay"></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-void modal-button" onclick="voidItem()">Void</button>
                                <button type="button" class="btn btn-primary" onclick="parkOrder()">Park</button>
                                <a href="#" class="btn btn-void modal-button">Donation</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#giftCardModal">Gift Card</button>
                                <button type="button" class="btn btn-primary discountBtn">Discount</button>
                                <button type="button" class="btn btn-primary">Notes</button>
                                <a id="btn-make-payment" class="btn btn--well btn--success right" data-toggle="modal" href="#payModal">Pay</a>
                            </div>
                        </div>
                    </div>

                    <!--Product Hot Keys Panel-->
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="nav">
                                    <ul id="hotKeysTabs" class="nav nav-tabs"></ul>
                                </div>
                            </div>
                            <div id="hotKeySections" class="panel-body tab-content">
                            </div>
                            <div class="panel-footer">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
 
  
    </div>
</div>


