<div class="container-fluid menu-block-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="menu-2">
                    <li ui-sref-active="active"><a ui-sref="app.products.products">PRODUCTS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.products.stockControl">STOCK CONTROL</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.products.priceBooks">PRICE BOOKS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.products.types">TYPES</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.products.suppliers">SUPPLIERS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.products.brands">BRANDS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.products.tags">TAGS</a></li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>