<div class="container-fluid menu-block-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="menu-2">
                    <li ui-sref-active="active"><a ui-sref="app.sell.currentSale">CURRENT SALE</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.sell.retrieveSale">RETRIEVE SALE (F6)</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.sell.register">REGISTER (F7)</a></li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>