<div class="masthead">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="root.dashboard">Dashboard</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.sell">Sell</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.products">Products</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.history">History</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.customers">Customers</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.setup">Setup</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="cashier">Cashier</a></li>
                    <li><a ui-sref="main-outlet">Main Outlet</a></li>
                    <li><a ui-sref="signout">Signout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>