<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="transaction.selectedItem"
                           typeahead="item as item.name for item in sellController.getItems($viewValue) | limitTo:10"
                           typeahead-template-url="templates/product-item-template.html"
                           typeahead-wait-ms="1500"
                           typeahead-min-length="3"
                           typeahead-on-select="sellController.onSelect()">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><Span class="glyphicon glyphicon-search"></Span></button>
                      </span>
                    </input>
                </div>
            </div>
            <div class="panel-body sell-panel-body" items-list items-list-data="order.items">

            </div>
            <div class="panel-footer">
                <table>
                    <tr>
                        <td>
                            <h3>This is where we put total</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="sell-button-group">
                                <button type="button" class="btn btn-primary sell-button">Void</button>
                                <button type="button" class="btn btn-primary sell-button">Park</button>
                                <button type="button" class="btn btn-primary sell-button">Notes</button>
                                <button type="button" class="btn btn-primary sell-button">Discount</button>
                                <button type="button" class="btn btn-success sell-button">Pay</button>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quick Keys</h3>
            </div>
            <div class="panel-body quick-keys-panel-body">
                This is where the quick keys go
            </div>
            <div class="panel-footer">
                <h3 class="panel-title">Paging controls go here</h3>
            </div>
        </div>
    </div>
</div>

