<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="input-group">
                    <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Add</button>
                      </span>
                </div>
            </div>
            <div class="panel-body sell-panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr data-ng-repeat="item in order.items">
                            <td class="span1">{{item.quantity}}</td>
                            <td class="span20">{{item.name}}</td>
                            <td class="span5">{{item.unitPrice | currency}}</td>
                            <td class="span5">{{item.total | currency}}</td>
                            <td class="span1"><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <div class="sell-button-group">
                    <button type="button" class="btn btn-info sell-button">Void</button>
                    <button type="button" class="btn btn-info sell-button">Park</button>
                    <button type="button" class="btn btn-info sell-button">Notes</button>
                    <button type="button" class="btn btn-info sell-button">Discount</button>
                    <button type="button" class="btn btn-success sell-button">Pay</button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quick Keys</h3>
            </div>
            <div class="panel-body quick-keys-panel-body">
                This is where the quick keys go
            </div>
            <div class="panel-footer">
                <h3 class="panel-title">Paging controls go here</h3>
            </div>
        </div>
    </div>
</div>