<div class="row product-row" data-ng-repeat="item in itemsListData track by $index">
    <div class="col-md-1">
        <button quantity-editor
                quantity-editor-template
                data-ng-click="editQuantity(item.quantity)"
                current-value="item.quantity"
                class="round">
            {{item.quantity}}
        </button>
    </div>
    <div class="col-md-7">
        <button product-details item="item" class="btn btn-link product-link">{{item.name}}</button>
    </div>
    <div class="col-md-2">
        <button price-editor
                price-editor-template
                data-ng-click="editPrice(item.unitPrice)"
                current-value="item.unitPrice"
                class="btn btn-link round">
            @ {{item.unitPrice | currency}}
        </button>
    </div>
    <div class="col-md-1 price-text">{{item.unitPrice * item.quantity | currency}}</div>
    <div class="col-md-1">
        <a class="btn-close remove-item-button" data-ng-click="removeItem($index)"/>
    </div>
</div>
