<div class="row product-row" data-ng-repeat="item in itemsListData track by $index">
    <div class="col-md-1"><button popup template href="#" class="round">{{item.quantity}}</button></div>
    <div class="col-md-7"><product-details class="product-link" name="{{item.name}}"></product-details></div>
    <div class="col-md-2">
        <button class="btn btn-link round" data-ng-click="editPrice(item.unitPrice)" popup template current-value="item.unitPrice">
            <span class="badge">@ {{item.unitPrice | currency}}</span>
        </button>
    </div>
    <div class="col-md-1">{{item.unitPrice * item.quantity | currency}}</div>
    <div class="col-md-1"><span class="btn-close" data-ng-click="removeItem($index)"></div>
</div>

