<table class="table table-striped">
    <tbody>
    <tr data-ng-repeat="item in itemsListData track by $index">
        <td class="span1">
            <span class="badge">{{item.quantity}}</span>
        </td>
        <td class="span20">
            <product-details name="{{item.name}}"></product-details>
        </td>
        <td class="span5">
            <button class="btn btn-link"
                    data-toggle="popover"
                    price-editor>
                <span class="badge">@ {{item.unitPrice | currency}}</span>
            </button>
        </td>
        <td class="span5">{{item.total | currency}}</td>
        <td class="span1"><span class="glyphicon glyphicon-remove" data-ng-click="removeItem($index)"></span></td>
    </tr>
    </tbody>
</table>