<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header payment-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Panel Title Here</h4>
            </div>
            <div class="modal-body">


                <div class="row">

                    <div class="col-md-12">
                        <p>Etiam euismod laoreet ligula, sed aliquam quam volutpat quis. Pellentesque ultrices, turpis a mollis dapibus, nisl sem lobortis est, eu ultrices orci elit id nibh.</p>
                        <br />
                        <img src="images/spinner.gif" />
                        <br /><br />
                    </div>

                </div>
                <div class="row top-buffer">
                    <button type="button" class="btn btn-success btn-width" data-dismiss="modal">Cancel</button>
                </div>


            </div>
        </div>
    </div>
</div>