<div class="modal-header payment-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Payment</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 allign-center">
            <div class="row brdrtop">
                <div class="col-md-6"><strong class="pull-left">TO PAY</strong></div>
                <div class="col-md-6"><strong class="pull-right">$0.00</strong></div>
            </div><br />
            <h4>Amount tendered</h4>
            <img src="images/calc.png" class="pull-left"/><input type="email" class="form-control pull-left calc-field" id="exampleInputEmail1" placeholder="7.95">
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row top-buffer padding-both">
        <button type="button" class="btn btn-success btn-width">Cash</button>
        <button type="button" class="btn btn-success btn-width">Credit Card</button>
    </div>
    <div class="row top-buffer"></div>
    <div class="row top-buffer"></div>
    <div class="row top-buffer padding-both">
        <div class="col-md-9 left-buffer0">
            <button type="button" class="btn btn-width">on account</button>
            <button type="button" class="btn btn-width">Layby</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-width">Back to Sale</button>
        </div>
    </div>
</div>