<div class="calculator_box">

    <div class="borderbtm">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1" class="field-title">Unit Price</label>
                <input type="email" class="form-control field-text" id="exampleInputEmail1"
                       placeholder="Unit Price Here">
            </div>
        </form>
    </div>

    <div class="btns-row">
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">1</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">2</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">3</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default"><img src="images/back.png" data-ng-click="clear()"/></button>
        </div>
    </div>

    <div class="btns-row">
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">4</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">5</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">6</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default"><img src="images/plus-minus.png"/></button>
        </div>
    </div>

    <div class="btns-col2">
        <button type="button" class="btn btn-default2" data-ng-click="submit()">return</button>
    </div>

    <div class="btns-row2">
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">7</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">8</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">9</button>
        </div>
    </div>

    <div class="btns-row2">
        <div class="btns-col">
            <button type="button" class="btn btn-default" data-ng-click="updatePrice(1, currentPrice)">0</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default">00</button>
        </div>
        <div class="btns-col">
            <button type="button" class="btn btn-default">.</button>
        </div>
    </div>

</div>