<div class="main_panel">
    <br />
    <input class="text_box form-control" type="text" id="number" name="num" data-ng-model="currentPrice"/>
    <br />
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(1, currentPrice)">1</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(2, currentPrice)">2</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(3, currentPrice)">3</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(4, currentPrice)">4</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(5, currentPrice)">5</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(6, currentPrice)">6</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(7, currentPrice)">7</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(8, currentPrice)">8</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(9, currentPrice)">9</div>
    <div class="number_button btn btn-primary" data-ng-click="clear()">C</div>
    <div class="number_button btn btn-primary" data-ng-click="updatePrice(0, currentPrice)">0</div>
    <div class="number_button btn btn-primary" data-ng-click="submit()">:)</div>
</div>