<div class="modal-header payment-header">
    <button type="button" class="close" data-ng-click="productDetailsController.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Products Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <strong>Name</strong><br />
            {{item.name}}
        </div>
    </div>
    <div class="separator"/>
    <div class="row">
        <div class="col-md-12">
            <strong>Description</strong><br />
            <div ng-bind-html='item.description'/>
        </div>
    </div>
    <div class="separator"/>
    <div class="row">
        <div class="col-md-6">
            <strong>ID</strong><br />
            {{item.id}}
        </div>
        <div class="col-md-6">
            <strong>Format</strong><br />
            {{item.format}}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <strong>List Price</strong><br />
            {{item.unitPrice | currency}}
        </div>
        <div class="col-md-6">
            <strong>On sale</strong><br />
            {{item.isOnSale}}
        </div>
    </div>
    <div class="separator"></div>
    <h3>Inventory</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Outlet</th>
                <th>In Stock</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Main Outlet</td>
                <td>-6</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
</div>
