<div class="modal-header payment-header">
    <button type="button" class="close" data-ng-click="productDetailsController.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Products Details</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <strong>Name</strong><br />
            {{item.name}}
        </div>
    </div>
    <div class="separator"/>
    <div class="row">
        <div class="col-md-9">
            <strong>Description</strong><br />
            <div ng-bind-html='item.description'/>
        </div>
        <div class="col-md-3">
            <img class="thumbnail thumb-size" src="{{thumbnailUrl}}" alt="No Image available"/>
        </div>
    </div>
    <div class="separator"/>
    <div class="row">
        <div class="col-md-6">
            <strong>ID</strong><br />
            {{item.id}}
        </div>
        <div class="col-md-6">
            <strong>Format</strong><br />
            {{item.format}}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <strong>List Price</strong><br />
            {{item.unitPrice | currency}}
        </div>
        <div class="col-md-6">
            <strong>On sale</strong><br />
            {{item.isOnSale}}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <strong>Publisher</strong><br />
            {{item.product.publisherId}}
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="separator"></div>
    <h3>Warehouses</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>On Hand</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="warehouse in item.stockItemWarehouses | orderBy:'warehouseId'">
                    <td>{{warehouse.warehouseId}}</td>
                    <td>{{warehouse.trueOnHand}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
</div>
