<div class="right-panel">
    <div class="row">
        <div class="black-bar">Default</div>
    </div>
    <div class="quick-keys">
        <div data-ng-repeat="item in currentPageItems">
            <input type="button"
                   class="quick-key"
                   value='{{item.name}}'
                   data-ng-click="addItem(item)"/>
        </div>
    </div>
    <div class="row right-bottom-panel">
        <div class="col-md-12">
            <pagination total-items="totalItems"
                        items-per-page="itemsPerPage"
                        data-ng-model="currentPage"
                        ng-change="pageChanged()"/>
        </div>
    </div>
</div>